:root {
    --highlight-color-400:#dbe146;
    --highlight-color-900:#56A3A6;
    --main-color-900:#f65c1a;
    --main-color-400:#49BEAA;
    --main-color-100:#2D3142;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
}

header {
    width: 100vw;
    height: 14vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--highlight-color-400);
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    gap: 1rem;
    color: var(--highlight-color-900);
}

body {
    background-color: var(--main-color-400);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
}

.hero h1 {
    color: var(--main-color-900);
    font-size: 4rem;
}

.hero p {
    font-size: 1.6rem;
}

.card-container {
    height: 100vh;
    width: 48vw;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 12rem;
    height: 16rem;
    background: var(--highlight-color-400);
    border-radius: 40px 0 40px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.card-footer {
    height: 20%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    border-top: 4px solid var(--main-color-900);
}
.location {
    color: var(--main-color-100);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem;
}

.form-area {
    width: 80%;
    height: 42rem;
    background-color: var(--main-color-100);
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-area h3 {
    font-family: 'Comfortaa', cursive;
    color: #fff;
    font-size: 2rem;
}

form {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--main-color-900);
    color: #fff;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    background: none;
    text-decoration: none; 
}

.button-area {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
.actn-btn {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 2px 2px 2px #c5c5c5, -2px -2px 2px #fff;
    font-family: 'Bebas Neue', cursive;
  }
  
  .actn-btn:hover {
    border: 1px solid white;
  }
  
  .actn-btn:active {
    box-shadow: 4px 4px 12px #c5c5c5,
               -4px -4px 12px #ffffff;
  }